@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media print {
        body {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }
}